.navProductos {
    display: block;
    padding-top: 2rem;
    background-color: rgb(57, 61, 50);
    color: beige;
}

.navUsuario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: 2rem 4rem 0.5rem 4rem; */
    background: transparent;
    /* position: relative; */
}


/*Section Productos*/
.contenedor-filtros-productos {
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(57, 61, 50);
    /* color: beige; */
}

hr {
    color: beige !important;
}