:root {
  --color-grey-primary: #f0f0f0;
  --color-yellow-primary: goldenrod;   
  --color-orange-primary: darkorange;
  --color-green-primary: mediumseagreen;
}


.App{
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    justify-content: center;
  }

.productList{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
  
  .productCard{
    position: relative;
    background-color: var(--color-grey-primary);
    margin: 1rem;
    flex: 1 0 1rem;
    max-width: 20rem;
    max-height: fit-content;
    transition: 0.5s;
  }
  
  .productCard:hover{
    transform: translateY(-0.1rem);
    box-shadow: 0.7rem 0rem 1rem #bbbbbb;
  }
  
  .productImage{
    margin-top: 0rem;
    max-width: 100%;
    height: auto;
  }
  
  .productCard__cart{
    position: absolute;
    right: 0;
    margin: 0.5rem;
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .productCard__wishlist{
    position: absolute;
    right: 2rem;
    margin: 0.5rem;
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .productCard__fastSelling {
    position: absolute;
    font-size: 2rem;
    left: 0;
    margin: 0.5rem;
    fill: var(--color-orange-primary);
  }
  
  .productCard__content {
    margin: 1rem;
  }
  
  .productName{
    font-size: 1.3rem;
  }
  
  .displayStack__1,
  .displayStack__2{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .productPrice{
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .productSales,
  .productTime{
    font-size: 1rem;
  }