#nextStep {
  background-color: #007bff !important; 
}
#btnCart {
  color: #007bff !important; 
  z-index: 10000;
}
.shopping-cart-modal .modal-content {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  height: 60vh;
  width: 20vw;
  margin-right: 15px;
  position: fixed;
  right: 0;
  top: 15px; 
  transform: translateX(0%);
}

.shopping-cart-modal .modal-header,
.shopping-cart-modal .modal-footer {
  border-bottom: none;
  border-top: none;
}



.modal-body {
  text-align: left;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.buscador-usuario-elemento {
  margin: 20px;
}

  