.category-btn{
    color: beige !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    text-decoration: none!important;
}

.men-subcategories,
.women-subcategories {
    color: beige !important;
    padding-left: 2rem;
}
