.filter-panel {
    width: 80%;
    /* margin-right: 2rem; */
    display: flex;
    flex-direction: column;
  }
  
  .filter-panel h3 {
    margin-bottom: 1rem;
  }
  
  .filter-panel .btn {
    width: fit-content;
    text-align: left;
  }
  
  .filter-panel .card {
    margin-bottom: 1rem;
  }
  