
.texto{
  width: 100%;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: beige;
  font-size: small;
}
.slider {
  height: 2.5px;
  width: 100%;
  /* background-color: #f5cd77; */
  background-color: beige;
  border-radius: 5px;
  margin-top: 10px;
}

/* Styles for the slider thumb */
.slider .thumb {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  /* background-color: #f5cd77; */
  background-color: beige;
  cursor: grab;
  position: absolute;
  top: -5px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

/* Styles for the slider active state */
/* .slider .thumb.active { */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
/* } */

.price-btn{
  color: beige!important;
  width: 100%!important;
  display: flex!important;
  flex-direction: row!important;
  justify-content: space-between!important;
  align-items: center!important;
}