.payment-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    background: #D9C7C1;
    border-radius: 5px;
  }
  
  .payment-form h2 {
    text-align: center;
  }
  
  .card-types img {
    width: 50px;
    margin: 0 5px;
  }
  
  .form-group {
    margin-bottom: 1em;
  }
  
  .form-group label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
  }
  
  .form-group input {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
  }
  
  .error {
    color: red;
    font-size: .875em;
  }
  
  .btn-paym{
    background: #733224;
    color: white;
    border: 0;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin-bottom: 5%;
  }

  .btn-paym:hover{
    background-color: #b96654;
  }

  /* formulario  */
  .product-details {
  width: 100%;
  max-width: 600px;
  background: #D9C7C1;
  padding: 1em;
  border-radius: 5px;
}

.product-details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.product-details th, .product-details td {
  border: 1px solid #CCC;
  padding: 0.5em;
  text-align: left;
}

.product-details th {
  background: #733224 !important;
  color: white;
}



.product-details {
  width: 100%;
  max-width: 600px;
  background: #F8F8F8;
  padding: 1em;
  border-radius: 5px;
}

.product-details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.product-details th, .product-details td {
  border: 1px solid #CCC;
  padding: 0.5em;
  text-align: left;
}

.product-details th {
  background: #E8E8E8;
}

.product-details h2 {
  margin-top: 10px;
}