.navProductos {
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(57, 61, 50);
    color: beige;
}

.navUsuario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
}

.sort-btn{
    margin-top: 1rem;
}

/*Responsive filter panel*/
.filter-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-btn-menu {
    color: #ffffff;
    display: none;
    border: 1px solid beige;
    border-radius: 20px;
}

.filter-btn-menu:hover {
    cursor: pointer;
    color: rgb(156, 156, 156);
    border: 1px solid rgb(156, 156, 156);
}

.seccion-filtros {
    display: block;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 767px) {
    .filter-btn-menu {
        display: block;
        margin-top: 1rem;
        margin-right: 3.2rem;
        padding: 1rem;
    }

    .seccion-filtros {
        display: none;
    }
}

/* Media Queries para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .filter-btn-menu {
        display: block;
        margin-top: 1rem;
        margin-right: 3.2rem;
        padding: 1rem;
    }

    .seccion-filtros {
        display: none;
    }
}

/* Media Queries para pantallas de escritorio */
@media (min-width: 1024px) {
}



/*Section Productos*/
.contenedor-filtros-productos {
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(57, 61, 50);
}