.tallas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.card .tallas span {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.card .tallas .talla:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.card .tallas .talla.active {
    background-color: #323232;
    color: #F2F2F2;
}

.size-btn {
    color: beige;
    width: 100% ;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.contenedor-colapsable {
    display: block;
}

.size-options {
    color: beige;
    padding-left: 1rem;
}

.all-sizes {
    font-weight: 300;
    font-size: small;
    padding-left: 1rem;
    padding-top: 0.7rem;
    display: block;
    cursor: pointer;
    color: beige;
}