.sort-btn {
    color: beige;
}

.sortFilter .btn {
    background: transparent !important;
    border: none !important;
}


.ordenar {
    margin-left: 2.5rem;
    min-width: 10rem;
    max-width: 10rem;
}